/* MyShoes.css */

.shoe-list-heading {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    border-top: 3px solid #C0C0C0;
}

.shoe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.shoe-item {
    width: calc(20% - 20px);
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* padding, border를 너비에 포함 */
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    /* Add this to clear floats */
}

.shoe-item p {
    margin: 5px 0;
    font-weight: bold;
}

/* 로딩 중일 때 표시되는 스타일 */
.loading-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}