/* ShoeDetail.css */

.shoe-detail-container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-bottom: 5px solid #C0C0C0;
    border-radius: 10px;
}

.shoe-detail-left img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    border-radius: 5%;
}

.shoe-detail-right {
    flex: 1;
    margin-top: 20px;
    margin-left: 100px;
}

.shoe-detail-right p {
    color: #5a5a5a;
}

.shoe-detail-right h2 {
    font-size: 40px;
}

.shoe-detail-right p {
    font-size: 25px;
    font-weight: bold;
}

/* AI Review 스타일링 */
.ai-review {
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 10px;
}

.ai-review h2 {
    font-size: 30px;
}

.ai-review p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* 통계바 섹션 */
.horizontal-gauge-bars {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.horizontal-gauge-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.horizontal-gauge-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.horizontal-gauge-bar p {
    margin: 0 8px;
    font-size: 10px;
}

.horizontal-gauge-bar-inner {
    height: 20px;
    background-color: lightcoral;
}


/* 스페셜 리뷰 섹션 */
.special-issue {
    margin: 100px;
    border-top: 3px solid #C0C0C0;

}

.special-issue h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.special-issue p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 20px;
    background-color: #e6e6e6;
    padding: 35px;
    border-radius: 10px;

}

/* 리뷰 섹션 */
.reviews-section {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.reviews-section h2 {
    border-top: 3px solid #C0C0C0;
    padding-top: 30px;
    font-size: 35px;
    margin-bottom: 10px;
    /* h2 아래 간격을 설정합니다. */
}

.review-item {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.review-contents {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.review-contents p {
    margin-bottom: 5px;
}

.review-contents .star-rating {
    font-size: 1em;
}

.review-contents .size-info {
    font-size: 15px;
    font-weight: bold;
}

.review-contents .content-info {
    font-size: 18px;
    font-weight: bold;
}



/* 프로필 이미지 스타일 */

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 15px;
    object-fit: cover;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 15px;
}

/* 리뷰 작성 버튼 스타일 */
.reviews-section button {
    margin-right: 100px;
    padding: 8px;
    background-color: rgb(231, 230, 230);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;

}

.reviews-section button:hover {
    background-color: #C0C0C0;
}


/* 리뷰 작성 폼 스타일 */
.write-review-for-shoe {
    width: 300px;
    padding: 20px;
    border: 3px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.write-review-for-shoe h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.write-review-for-shoe img {
    max-width: 100%;
    margin-bottom: 10px;
}

.write-review-for-shoe p {
    margin-bottom: 5px;
}

.write-review-for-shoe label {
    display: block;
    margin-bottom: 5px;
}

.write-review-for-shoe select,
.write-review-for-shoe input,
.write-review-for-shoe textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.write-review-for-shoe button {
    background-color: #E2E2E2;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.write-review-for-shoe button:hover {
    background-color: #C0C0C0;
}