.write-review-container h2 {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    border-top: 3px solid #C0C0C0;
}

.review-box {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.image-container img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.review-details {
    flex: 1;
    margin-left: 50px;

}

.review-details p {
    margin: 5px 0;
    font-weight: bold;
}

.button-container {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;

}

.edit-button,
.delete-button {
    background-color: #c0c0c0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: black;
}

/* 로딩 중일 때 표시되는 스타일 */
.loading-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}