/* ShoeDetail.css */

/*.shoe-detail-left img {*/
/*    !*max-width: 100%; *!*/
/*    width: 400px; !* 원하는 가로 크기 *!*/
/*    height: 350px; !* 원하는 세로 크기 *!*/
/*    object-fit: cover; !* 이미지가 지정한 크기에 맞게 조절되도록 설정 *!*/
/*}*/

.shoe-detail-container {
    display: flex;
    padding: 50px;
    border-bottom: 5px solid #C0C0C0;
    border-radius: 10px;
}

.shoe-detail-left img {
    width: 500px;
    height: 600px;
    border-radius: 5%;
}

.shoe-detail-right {
    flex: 1;
    margin-top: 20px;
    margin-left: 70px;
    /* 상단 여백 추가 */
}

.shoe-detail-right p {
    color: #5a5a5a;
}

.shoe-detail-right h2 {
    font-size: 40px;
}

.shoe-detail-right p {
    font-size: 25px;
    font-weight: bold;
}

/* AI Review 스타일링 */
.ai-review {
    background-color: #e6e6e6;
    padding: 35px;
    border-radius: 10px;
}

.ai-review h2 {
    font-size: 40px;
}

.ai-review p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* 리뷰 섹션 */
.reviews-section {
    margin: 100px;
    display: flex;
    flex-direction: column;
    /* 세로 방향으로 요소들을 배치합니다. */
}

.reviews-section h2 {
    font-size: 35px;
    margin-bottom: 10px;
    /* h2 아래 간격을 설정합니다. */
}

.review-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    height : 150px;
}

/* 프로필 이미지 스타일 */

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.user-profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

/* 리뷰 작성 버튼 스타일 */
.reviews-section button {
    padding: 8px;
    background-color: rgb(231, 230, 230);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;

}

.reviews-section button:hover {
    background-color: #C0C0C0;
}


/* 리뷰 작성 폼 스타일 */
.write-review-for-shoe {
    width: 300px;
    padding: 20px;
    border: 3px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.write-review-for-shoe h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.write-review-for-shoe img {
    max-width: 100%;
    margin-bottom: 10px;
}

.write-review-for-shoe p {
    margin-bottom: 5px;
}

.write-review-for-shoe label {
    display: block;
    margin-bottom: 5px;
}

.write-review-for-shoe select,
.write-review-for-shoe input,
.write-review-for-shoe textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.write-review-for-shoe button {
    background-color: #E2E2E2;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.write-review-for-shoe button:hover {
    background-color: #C0C0C0;
}
