/*
body {
    !*background-image: url('home_shoes.png');*!
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/

.start-container {
    background-image: url('../../routes/home_shoes.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
!* Header styles *!
header {
    position: relative;
    background-color: transparent;
    padding: 20px;
    z-index: 9999;
    text-align: left;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    margin: 5px;
}
*/

/* Main content styles */

.start-container h1 {
    font-family: 'LilitaOne', sans-serif;
    font-size: 100px;
    font-weight: bold;
}

.start-container p {
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.start-button {
    font-family: 'GmarketSansMedium', sans-serif;
    padding: 20px 40px;
    background-color: #000;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    color: #f0f0f0;
}

.start-button:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
    color: #000; /* 호버 시 텍스트 색상 변경 */
}
